.addTaskBtn {
    border: #dddddd solid 1px;
    background: transparent;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 14px;
    transition: background 0.2s;
}

.addTaskBtn:hover {
    border: none;
    background: #eaeaea;
}

.hintCommand {
    border: 1px solid #DDDDDD;
    padding: 4px;
    border-radius: 4px;
    margin-left: auto;
    font-size: 12px;
}

.searchInput {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    font-size: 1rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
